/**
 * All your custom CSS should go into this file
 */

tr.accordion-toggle.collapsed .glyphicon-plus {
  display: inline;
}
tr.accordion-toggle.collapsed .glyphicon-minus {
  display: none;
}
tr.accordion-toggle .glyphicon-plus {
  display: none;
}
tr.accordion-toggle .glyphicon-minus {
  display: inline;
}

body {
   padding-top: 15px;
}

*[data-href] {
    cursor: pointer;
}

#system-messages {
  background-color: #fff;
}
#system-messages ul {
  padding: 0px;
}
#system-messages li {
  display: block;
  list-style: none;
  padding: 0.5em;
}
#system-messages .error {
  border: 1px solid #ff0000;
  background: rgba(255,0,0,0.3);
}
#system-messages .warning {
  border: 1px solid #ffff00;
  background: rgba(255,255,0,0.4);
}
#system-messages .notice {
  border: 1px solid #00ff00;
  background: rgba(0,255,0,0.2);
}

#splash_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

#splash_message{
  text-align: center;
}

.search .glyphicon {
  top: 0px;
}

.footer {
  margin: 7em 0 1em 0;
  padding: 1em 0 1em 0;
  border-top: 1px solid #ccc;
  text-align: center;
}

.user-autocomplete.form-inline .search-username {
  width: 200px;
}
.user-autocomplete.form-inline .display-username {
  width: 320px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 3px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-Black {
    border-left-color: #777;
}
.bs-callout-Balck h4 {
    color: #777;
}
.bs-callout-Blue {
    border-left-color: #428bca;
}
.bs-callout-Blue h4 {
    color: #428bca;
}
.bs-callout-Green {
    border-left-color: #5cb85c;
}
.bs-callout-Green h4 {
    color: #5cb85c;
}
.bs-callout-Red {
    border-left-color: #d9534f;
}
.bs-callout-Red h4 {
    color: #d9534f;
}
.bs-callout-Yellow {
    border-left-color: #f0ad4e;
}
.bs-callout-Yellow h4 {
    color: #f0ad4e;
}


.color-Black {
    color: #777;
}
.color-Blue {
    color: #428bca;
}
.color-Green {
    color: #5cb85c;
}
.color-Red {
    color: #d9534f;
}
.color-Yellow {
    color: #f0ad4e;
}

.banner-Black {
    height: 10px;
    background: #777;
}
.banner-Blue {
    height: 10px;
    background: #428bca;
}
.banner-Green {
    height: 10px;
    background: #5cb85c;
}
.banner-Red {
    height: 10px;
    background: #d9534f;
}
.banner-Yellow {
    height: 10px;
    background: #f0ad4e;
}